.t-container {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .t-form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  
  .t-input {
    flex: 0 0 300px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .t-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .t-button:hover {
    background-color: #0056b3;
  }
  
  .t-log-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .t-log-item {
    background: #fefefe;
    border: 2px solid #dbe4ff;
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 1000px; /* szersze kafelki */
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
  }
  
  .t-log-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  .t-log-entry {
    font-size: 1rem;
    color: #155724;
    background-color: #d4edda;
    border-left: 6px solid #28a745;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-bottom: 0.6rem;
  }
  
  .t-log-exit {
    font-size: 1rem;
    color: #0a3358;
    background-color: #b3d7ff;
    border-left: 6px solid #1098e7;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-bottom: 0.6rem;
  }
  
  .t-log-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.2rem;
  }
  
  .t-log-place {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .t-log-sn {
    font-size: 0.75rem;
    color: #777;
    word-break: break-word;
    margin-top: 0.6rem;
    border-top: 1px dashed #ccc;
    padding-top: 0.4rem;
    font-family: monospace;
  }
  

.center-red{
    color: red;
    display: flex;
    justify-content: center;
  }

.loading{
    display: flex;
    justify-content: center;
}

.margin-plus{
    margin-bottom: 20px;
    margin-top: 10px;
}