.mini-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
  gap: 0.5rem;
}

.mini-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.mini-name {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.mini-status-ok {
  color: green;
  font-weight: 500;
}

.mini-status-error {
  color: red;
  font-weight: 500;
}

.mini-loading {
  text-align: center;
  padding: 1rem;
}
